body {
    font-family: Arial, sans-serif;
    line-height: 1.5;
    margin: 0;
}

/*Botõs de saiba mais*/
.btn {
    display: inline-block;
    padding: 18px 80px;
    border-radius: 100px;
    background: #FFB6C1;
    color: #643022;
    font-size: 14px;
    font-weight: bold;
    transition: 0.2s ease;
    text-decoration: none;
}

.btn:hover {
    background-color:#ac072e;
    color: #f3acbc;
    transform: scale(1.05);
}

/*Hero*/
.hero {
    background: #fffaf8;
    padding: 0;
    margin: 0;
    position: relative;
    overflow: hidden;
}

.hero-wrap {
    display: flex;
    align-items: flex-start;
    gap: 24px;
    min-height: auto;
    padding-top: 0%;
}

.hero-text {
    margin-top: 40px;
}

.hero-text h1 {
    font-size: 45px;
    line-height: 1;
    margin-bottom: 16px;
    color: #643022;
}

.hero-text p {
    color: #6b7b72;
    margin-bottom: 24px;
    max-width: 420px;
    text-align:left;
}

.hero-visual {
    position: absolute;
    right: 0;
    top: 0;
}

.hero-visual img {
    display: block;
    max-width: 100%;
    height: auto;
}

.dentro-da-onda {
    position: absolute;
    top: 30%;   
    left: 52%;  
    width: 350px; 
}

/*Especie de flores*/
.section-space { 
    padding-top: 30px;
    padding-bottom: 20px;
}

.small-title { 
    text-align: center; 
    font-size: 26px;
    line-height: 1;
    margin-bottom: 20px;
    color: #643022;
    font-weight: bold;
    margin-top: 20px;
}

.small-text{
    text-align: center; 
    font-size: 14px;
    line-height: 1;
    margin-bottom: 16px;
    color: #643022;
    margin-bottom: 20px;
}

.species-grid {
    display: flex;
    gap: 30px;
    justify-content: center;
    text-align: center;
}

.species-item {
    width: 50%;
}

.species-item img { 
    width:100%; 
    height: 200px; 
    object-fit: cover; 
    border-radius: 30px; 
    transition: 0.3s ease;
}

.species-item img:hover {
    transform: scale(1.05);
}

.species-item h3 {
    font-size: 16px;
    margin-bottom: 6px;
    color: #643022;
}

.species-item p { 
    font-size: 13px; 
    color: #643022; 
}

