.logo { 
    height: 80px; 
    position: relative;
    z-index: 20;
}

.topbar{
    display: flex;
    align-items: center; 
    justify-content: space-between; 
    gap: 20px;
}

.nav{
    display: flex; 
    gap: 24px; 
    color: #643022;
    font-size: 18px;
}

.nav a{
    text-decoration: none; 
    color: inherit; 
    transition: color .30s;
}

.nav a:hover{
    color: #f7436d;
}

.menu-toggle {
  display: none;
}

.menu-icon {
  display: none;
  font-size: 28px;
  cursor: pointer;
  z-index: 4;
}

.menu-icon .icon-close {
  display: none;
}

.menu-lateral {
  display: flex;
  gap: 20px;
}

.menu-lateral a {
  text-decoration: none;
  color: #643022;
  padding: 10px;
}

.menu-lateral a:hover {
  border-bottom: 5px solid #ac072e;
  background-color: #f3acbc;
}

/*=========================================== CONFIGURAÇÃO RESPONSIVA ===================================*/
@media screen and (max-width: 1024px){

    .topbar{
        justify-content: space-between;
    }

    .menu-icon{
        width: 42px;
        height: 42px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 32px;
        cursor: pointer;
        color: #643022;
        z-index: 10;
    }

    .menu-icon .icon-close{
        display: none;
    }

    .menu-lateral{
        width: 260px;
        height: 100vh;
        position: fixed;
        top: 0;
        left: 0;
        transform: translateX(-100%);
        transition: 0.3s ease;
        z-index: 5;
        padding: 90px 20px;
        background-color: #f9d2e4;
        box-shadow: 4px 0 12px rgba(0, 0, 0, 0.25);

        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .menu-lateral a{
        color: #643022;
        text-decoration: none;
        padding: 10px;
        font-size: 16px;
    }

    .menu-toggle:checked ~ .menu-lateral{
        transform: translateX(0);
    }

    .menu-toggle:checked + .menu-icon .icon-open{
        display: none;
    }

    .menu-toggle:checked + .menu-icon .icon-close{
        display: block;
    }

    .menu-toggle:checked + .menu-icon i{
        transform: rotate(180deg);
    }
}

