/*------------- RESPONSIVO TABLET -------------*/

@media only screen and (max-width:900px){

    .container{
        width:100%;
        padding:0 20px;
    }

/*----Hero----*/
    .hero-wrap{
        flex-direction:column;
        align-items:center;
        text-align:center;
    }

    .hero-text p{
        max-width:100%;
        text-align:center;
    }

    .hero-visual{
        display: none;
    }

/*----Espécies----*/
    .species-grid{
        display:flex;
        flex-direction:column;
        align-items:center;
        gap:25px;
    }

    .species-item{
        width:100%;
        max-width:500px;
    }

/*----Espécies raras----*/
    .split-block{
        flex-direction: column;
        gap: 30px;
    }

    .split-content, .reverse-content{
        text-align: center;
        max-width: 100%;
    }

    .split-image{
        width: 100%;
        max-width: 500px;
        margin: 0 auto;
    }

    .split-image img{
        width: 100%;
        height: 300px;     
        object-fit: cover; 
        border-radius: 30px;
    }
   
/*----Comentariozinhos----*/
    .features{
        flex-direction:column;
        align-items:center;
        gap:20px;
    }

    .feature-item{
        width:100%;
        max-width:500px;
    }

/*----Footer----*/
    .footer-grid{
        display:flex;
        flex-wrap:wrap;
        align-items:center;
        text-align:center;
        gap:30px;
        justify-content: space-between;
    }

    .footer-brand, .footer-col{
        width:45%;
    }

    .footer-col ul{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0;
    }

    .footer-col ul li{
        width: 100%;
        text-align: center;
    }

    .footer-col ul li a{
        justify-content: center;
    }

}




/*------------- RESPONSIVO MOBILE -------------*/

@media only screen and (max-width:600px){

    .container{
        width:100%;
        padding:0 18px;
    }

/*----Hero----*/
    .hero{
        padding:30px 0;
    }

    .hero-text{
        margin-top:0;
        text-align:center;
    }

    .hero-text h1{
        font-size:32px;
    }

    .btn{
        padding:14px 35px;
    }

/*----Espécies----*/
    .species-item{
        width:100%;
        max-width:350px;
    }

/*----Espécies raras----*/
    .split-image img{
        width:100%;
        height:220px;
        object-fit:cover;
    }

/*----Comentariozinhos----*/
    .feature-item{
        width:100%;
        max-width:350px;
    }

/*----Especialistas----*/
    .experts-grid{
        display:flex;
        flex-direction:column;
        align-items:center;
    }

    .expert-card{
        width:100%;
        max-width:320px;
    }

/*----Footer----*/
    footer{
        display:block;
        width:100%;
    }

    .footer-grid{
        display:flex;
        flex-direction:column;
        justify-content:center;
        align-items:center;
        text-align:center;
        gap:25px;
    }

    .footer-brand, .footer-col{
        width:100%;
    }

    .newsletter{
        width:100%;
        align-items:center;
    }

    .newsletter input, .newsletter button{
        width:100%;
        max-width:320px;
    }
}